<!DOCTYPE html>
<html>
  <head>
    <title>gokumail</title>
    <meta charset="utf-8">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    {% block js %}{% endblock %}
  </head>
  <body>
    <header>
      {% block title %}
      <div class="title">gokumail</div>
      {% endblock %}
      {% block login %}
      {% endblock %}
    </header>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
